<nav>
    <ul>
        <li><%= link_to "Home",root_path %></li>
        <% if user_signed_in? %>
            <li><%= current_user.email %></li>
            <li><%= link_to "Cerrar Sesion",destroy_user_session_path, method: :delete %></li>
            <% if current_user.admin? %>
                <li><%= link_to "Productos", products_path %></li>
            <% end %>
        <% else %>
            <li><%= link_to "Registrate" , new_user_registration_path %></li>
            <li><%= link_to "Iniciar sesión", new_user_session_path %></li>
        <% end %>
    </ul>
</nav>